# TTS
TTS==0.21.3
torch==2.2.2
torchaudio==2.2.2

# Audio & processing
librosa==0.10.2
ffmpeg-python
soundfile

# Data
numpy==1.24.6
pandas==2.1.1
scipy>=1.10.1
scikit-learn>=1.3.2

# UI
gradio==5.49.1

# FastAPI / backend
fastapi>=0.95.0
uvicorn>=0.22.0
aiofiles>=23.2.1
python-multipart>=0.0.20

# Optional TTS extras
inflect>=5.6.0
pysbd>=0.3.4
jieba
pypinyin
hangul-romanize
gruut==2.2.3
jamo
unidecode>=1.3.2
einops>=0.6.0
transformers>=4.33.0
num2words
